{% extends 'bootstrap/base.html' %}
{% block title %}NBA Analysis{% endblock %}

{% include 'navbar.html' %}

{% block content %}
<link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css'>
<link rel='stylesheet' href='static/radar/radar-chart.css'>
<head>
  <style>
    .radar-chart .area {
      fill-opacity: 0.7;
      fill: #ADD8E6;
    }
    .radar-chart.focus .area {
      fill-opacity: 0.3;
    }
    .radar-chart.focus .area.focused {
      fill-opacity: 0.9;
    }
  </style>

  <script type='text/javascript' src='http://d3js.org/d3.v3.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
  <script type='text/javascript' src='static/radar/radar-chart.js'></script>
  <script type='text/javascript'>
    RadarChart.defaultConfig.radius = 1;
    var chartData;

    function getPlayers() {
      d3.json('/_get_all_names', function(data) {
        for (var i=0;i<data.length;i++) {
          d3.select('#players').append('option').text(data[i]['name']);
        }
      });
    }

    function runAnalysis() {
      d3.selectAll('.chart').remove();
      d3.selectAll('#year').remove();

      // Get the player selected in the drop down
      var player_select = document.getElementById('players');
      var player = player_select.options[player_select.selectedIndex].text;
      
      // Get the algorithm selected in the drop down
      var alg_select = document.getElementById('algorithms');
      var algorithm = alg_select.options[alg_select.selectedIndex].text;

      // Draw that player's radar chart
      var url = '/_get_positions?player=' + player + '&algorithm=' + algorithm;
      d3.json(url, function(data) {
        d3.select('#results').append('input')
            .attr('type', 'range')
            .attr('id', 'year')
            .attr('min', 0)
            .attr('max', data.length-1)
            .attr('step', 1)
            .attr('oninput', 'drawChart()');
        chartData = data;
        drawChart();
      });
    }

    function drawChart() {
      // Remove the previous player's charts from the DOM
      d3.selectAll('.chart').remove();
      i = document.getElementById('year').value;

      var name = 'chart' + chartData[i]['className'];
      d3.select('#results').append('div').attr('id', name).attr('class', 'chart');

      var arr = [chartData[i]];
      RadarChart.draw('#'+name, arr);
    }
  </script>
</head>
<body onload='getPlayers()'>
  <div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
          <h4>
            Settings
          </h4>
          <div class='input-group' style='padding-bottom:5px;'>
            <select class='form-control' id='players'>
              <option selected='selected'>Select a player</option>
            </select>
            <select class='form-control' id='algorithms'>
              <option selected='selected'>Select an algorithm</option>
              <option>GaussianNB</option>
              <option>SVC</option>
              <option>KNeighborsClassifier</option>
              <option>DecisionTreeClassifier</option>
            </select>
          </div>
          <button class='btn btn-primary' onclick='runAnalysis()'>Run Analysis</button>
        </div>
        <div class='col-sm-6' id='results'/>
    </div>
  </div>
</body>
{% endblock %}